<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>NgxAngularTimeTicker with Infinite Scroll (UP/DOWN)</span>
  </mat-toolbar-row>
</mat-toolbar>

<form [formGroup]="form" style="margin: auto; width: 300px">
  <p>
    <mat-form-field appearance="fill" class="full-width-field">
      <mat-label>12hr</mat-label>
      <ngx-angular-time-picker
        [control]="form.controls.time"
        (onTimeChange)="onTimeChange($event)"
        [top]="'20px'"
        [left]="'-12px'"
        [enableSecond]="false"
        [format]="'12hr'"
        [backgroundColorCell]="'#673ab7'"
        [backgroundColorCellHover]="'#bbaad9'"
      >
        <input
          type="text"
          formControlName="time"
          #timePickerInput
          (focus)="timePickerInput.blur()"
          matInput
        />
      </ngx-angular-time-picker>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="fill" class="full-width-field">
      <mat-label>24hr</mat-label>
      <ngx-angular-time-picker
        [control]="form.controls.time2"
        (onTimeChange)="onTimeChange($event)"
        [top]="'20px'"
        [left]="'-12px'"
        [enableSecond]="false"
        [format]="'24hr'"
        [backgroundColorCell]="'#673ab7'"
        [backgroundColorCellHover]="'#bbaad9'"
      >
        <input
          type="text"
          formControlName="time2"
          #timePickerInput2
          (focus)="timePickerInput2.blur()"
          matInput
        />
      </ngx-angular-time-picker>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="fill" class="full-width-field">
      <mat-label>12hr with Seconds</mat-label>
      <ngx-angular-time-picker
        [control]="form.controls.time3"
        (onTimeChange)="onTimeChange($event)"
        [top]="'20px'"
        [left]="'-12px'"
        [enableSecond]="true"
        [format]="'12hr'"
        [backgroundColorCell]="'#673ab7'"
        [backgroundColorCellHover]="'#bbaad9'"
      >
        <input
          type="text"
          formControlName="time3"
          #timePickerInput3
          (focus)="timePickerInput3.blur()"
          matInput
        />
      </ngx-angular-time-picker>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="fill" class="full-width-field">
      <mat-label>24hr with Seconds</mat-label>
      <ngx-angular-time-picker
        [control]="form.controls.time4"
        (onTimeChange)="onTimeChange($event)"
        [top]="'20px'"
        [left]="'-12px'"
        [enableSecond]="true"
        [format]="'24hr'"
        [backgroundColorCell]="'#673ab7'"
        [backgroundColorCellHover]="'#bbaad9'"
      >
        <input
          type="text"
          formControlName="time4"
          #timePickerInput4
          (focus)="timePickerInput4.blur()"
          matInput
        />
      </ngx-angular-time-picker>
    </mat-form-field>
  </p>
</form>
<p style="margin: auto; width: 300px; text-align: center">© Bitto Kazi</p>
